[buildout]
parts = anyblok_pyramid sphinx
versions = versions

extensions = gp.vcsdevelop
vcs-extend-develop = git+https://github.com/franckbret/anyblok-pyramid-rest-api.git#egg=anyblok-pyramid-rest-api
vcs-update = true

[anyblok_pyramid]
recipe = zc.recipe.egg
eggs = anyblok-pyramid-rest-api
       anyblok
       psycopg2
       flake8
       coverage
       WebTest
       nose

interpreter = python

[sphinx]
recipe = collective.recipe.sphinxbuilder
source = ${buildout:directory}/anyblok_pyramid/doc
build = ${buildout:directory}/anyblok_pyramid/doc/_build
eggs = anyblok_pyramid
       WebTest
       sphinx_bootstrap_theme

[static-analysis]
recipe = zc.recipe.egg
eggs = flake8

[versions]
zc.buildout = 2.8.0
